#container{
    height: 600px;
    width: 550px;
    border: 2px solid blue;
    background-color: rgb(241, 248, 248);
}
#headname{
    color: blue;
}
#add{
    background-color: rgb(0, 208, 255);
    border: 2px solid blue;
    color: white;
}
#delete{
    color: red;
    border: 1px solid red;

}
#edit{
    color: blue;
    border: 1px solid blue;
}
#complete{
    color: blue;
    border: 1px solid blue;

}